{% extends "personal/header.html" %}

{% block content %}
<h3>Accreditation</h3>
<br>
<p style="font-size:110%;"><b>Bachelor of Arts (Security, Terrorism and Counterterrorism)</b> - Murdoch University, 2017</p>
<p style="font-size:110%;"><b>Python Masterclass Certificate</b> - Udemy, 2017</p>
<p style="font-size:110%;"><b>Cognitive Ability Test (Top 96% of the Australian Public Service)</b><a href='https://app.revelian.com/reporting/feedback.cfm?id=2F2D59FDCC4BC3EAE2C1C18A37E0FB04C73BF7A26B2FA4EC3B0CCB26CBBED0D6EEA2D8B5#ocat'> Report</a> - Revelian, 2017</p>


{% endblock %}	