{% extends "personal/header.html" %}
{% load staticfiles %}
{% block content %}
<p>I'm currently in the process of making a career change and entering the field of computer programming
and software development. I am self taught in the Python programming language, with exposure to various
others such as Java, HTML, CSS and SQL. I love problem solving and have a long-standing interest in
computers and technology.</p>
<p>I have practical experience in many of the Python packages such as Django, NLTK, WordNet, Requests, SqLite3,
Pygame, Scikit-Learn, Beautiful Soup and many more. I'm experienced with the Windows operating system and
have a basic knowledge in Linux and Bash.</p>
<p>The skills and experience i have obtained throughout my working career are diverse. I have completed a 
Bachelors Degree in Security, Terrorism and Counterterrorism, and i have also managed a large RSL Club for
6 years, which has provided me with an exceptional degree of responsibility and work ethic.</p>
<p>My self motivation and love of programming has enabled me to learn and develop with Python as a hobby.
It is my goal to expand on the area i enjoy so much through continuous development, with the ambition of making
 it my permanent career.</P>
<p>Please view my Resume for additional information.</p>
<div>
	<br>
	<img src="{% static 'personal/img/python1.png' %}" style='max-height:380px;' alt="Responsive image">
	<img src="{% static 'personal/img/html-css.jpg' %}" style='max-height:380px;' alt="Responsive image">
	<img src="{% static 'personal/img/javascript.png' %}" style='max-height:380px;' alt="Responsive image">
</div>
{% endblock %}	